:root {
    --text-color: black;
    --navbar-color: rgb(236, 236, 236);
    --fontfamily: "Lato", sans-serif;
    --writeraboutpfp: 50px;
    --width: 1180px;
    --social-links-size: 22px;
}

/* About writer section  */
.aboutWriter {
    max-width: var(--width);
    background-color: rgb(240, 240, 240);
    min-height: 250px;
    gap: 22px;
    border-radius: 10px;
    padding: 25px 0px;
}

.writerAboutPara {
    max-width: 500px;
    text-align: center;
}

.writerPfpName {
    gap: 10px;
}

#writeraboutpfp {
    height: var(--writeraboutpfp);
    border-radius: 50%;
}

.socialLinks {
    gap: 20px;
}

#follow-btn {
    padding: 6px 8px;
    cursor: pointer;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    border-radius: 5px;
}

#follow-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(194, 194, 194);
}

#github-logo,
#likedin-logo,
#x-logo,
#insta-logo {
    height: var(--social-links-size);
    transition: transform 0.5s ease-in-out;
}

#github-logo {
    height: 25px;
}

#github-logo:hover,
#likedin-logo:hover,
#x-logo:hover,
#insta-logo:hover {
    transform: scale(1.1);
}

/* About writer section  */

/* Blog Container */
.container{
    padding: 0px 10px;
}

.blogLatestPostContainer {
    max-width: 1180px;
}

.LatestPostContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
}

#latestPostTxt {
    margin: 30px 0px;
}

.blogPostLatestCard{
    min-height: 360px;
    padding: 10px 10px;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 15px;
    cursor: pointer;
}

#blogImgContainer {
    overflow: hidden;
    border-radius: 12px;
}

#stockBlogPic {
    border-radius: 12px;
    width: 100%;
    height: 180px;
    transition: transform 0.5s ease-in-out;
}

#stockBlogPic:hover {
    transform: scale(1.05);
}

.blogPostLatestAbout {
    height: 160px;
}

#LatestPoststatsImg {
    height: 25px;
    border-radius: 50%;
}

.LatestPoststatsImgwriter {
    gap: 5px;
}

.LatestPoststats p {
    font-size: 0.9rem;
}

#tags{
    font-size: 0.75rem;
}

#blogdesc{
    /* border: solid; */
    margin-bottom: 6px;
    font-weight: normal;
}

#blogTitle{
    font-size: 1.1rem;
}

/* Blog Container */

/* Footer */
.footerContainer {
    max-width: var(--width);
    display: flex;
    gap: 40px;
    margin-inline: auto;
    padding: 20px 0px;
    align-items: center;
}

.footerContainer a,
p,
abbr {
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
}

.footerContainer a:hover,
.footerContainer p:hover {
    text-decoration: underline rgb(29, 105, 247);
}

/* Footer */

/* Media query for phone */

@media screen and (max-width:550px) {
    .writerAboutPara{
        padding: 0px 10px;
    }

    .writerAboutPara p{
        font-size: 1rem;
    }

    .footerContainer {
        gap: 25px;
    }

    .footerContainer a,
    p,
    abbr {
        font-size: 1rem;
    }
}